.main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 2rem;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.titleContainer {
    position: relative;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 2rem;
    text-align: center;
}

.title {
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
    font-size: 38px;
    display: inline-block;
    color: #000;
}

.formSection {
    width: 80vw;
    border: 1px solid #ddd;
    padding: 3rem;
    border-radius: 0;
    margin-bottom: 4rem;
}

.formSection>h3 {
    font-size: 25px;
    letter-spacing: -1.5px;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form>input {
    padding: 8px 5px;
    border-bottom: 1px solid black;
    font-size: 15px;
}

.form>select {
    padding: 8px 5px;
    border: 2px solid black;
    font-size: 15px;
}

.button {
    margin-top: 1rem;
    padding: 1.1rem 1rem;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
}

/* --------------------------------------------------------- */

.tableWrapper {
    width: 73vw;
    margin: auto;
    margin-bottom: 5rem;
}

.tableWrapper>h3 {
    font-size: 25px;
    letter-spacing: -1.5px;
    margin-bottom: 20px;
}

.table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    border: none;
}

.table thead th {
    border: none
}

.table tbody td {
    padding: 12px 5px;
    border-bottom: 0.5px solid rgb(224, 224, 224);
}

.table th {
    background: beige;
    color: black;
    padding: 12px 5px;
}

.table button {
    font-size: 14px;
    text-transform: uppercase;
}

.actionButton {
    background: rgb(255, 104, 104);
    color: white;
    border: none;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
}

.buttons {
    margin-top: 2rem;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
}

.buttonGreen {
    background: Black;
    color: white;
    padding: 1.1rem 1rem;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    padding: 1.1rem 1.32rem;
    margin-right: 4.6vw;
}

.buttonGray {
    background: gray;
    color: white;
    padding: 1.1rem 1rem;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
}

/* ------------------------------------------------------------ */

.resultSection {
    display: flex;
    flex-direction: column;
    width: 73vw;
    margin: auto;
    margin-bottom: 3rem;
    text-align: left;
    gap: 15px;
}

.resultSection>h3 {
    font-size: 25px;
    letter-spacing: -1.5px;
}

.resultSection table {
    text-align: center;
    border: none;
}

.resultSection table thead th {
    padding: 12px 5px;
    border-bottom: 0.5px solid rgb(224, 224, 224);
    background: rgb(255, 236, 173);
    color: black;
    padding: 12px 5px;
}

.resultSection table tbody td {
    padding: 12px 5px;
    border-bottom: 0.5px solid rgb(224, 224, 224);
}

.resultTable {
    border-collapse: collapse;
    width: 100%;
    margin: 1rem auto;
}

.resultTable th {
    background: #f0f0f0;
}

.resultSection p {
    margin-top: 50px;
    color: white;
    text-align: center;
    background-color: black;
    padding: 50px 0;
    text-transform: uppercase;
}

/* --------------------------------------------------- */
/* .runningText {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 8s linear infinite;
    padding-right: 20px;
}

@keyframes marquee {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(calc(-100% - 20px));
    }
} */