.container {
    display: flex;
    height: 100vh;
}

.container .image img {
    height: 100vh;
}

.container .tulisan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin-left: 100px;
    margin-right: 100px;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.container .tulisan>h1 {
    letter-spacing: -3px;
}

.container .tulisan p {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -0.3px;
    margin-left: 2px;
}

.container .tulisan a {
    display: flex;
    background-color: black;
    padding: 15px;
    width: 100%;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    width: 180px;
    justify-content: center;
}

.container .tulisan .creators {
    padding: 10px;
    display: flex;
    gap: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: beige;
    width: 550px;
    justify-content: center;
}

.container .tulisan .creators>p {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}

.tulisan h1 {
    width: 300px;
    font-size: 40px;
}